<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="loadmodule" content="Admin.Login" error="login.html" />
<meta name="loadmodule" content="Admin.Operator.List" result="staffs" wkey="ne:role_id" wvalue="3" />
<meta name="loadmodule" content="Admin.Operator.List" result="customers" />
<meta name="loadmodule" content="Trade.Type.List" mode="select" select="type_id|type_name" />
<meta name="loadmodule" content="Trade.Status.List" mode="select" select="status_id|status_name" />
<meta name="loadmodule" content="Trade.Bill.Detail" />
<!--{include file="common/header.html" subtitle=$configure.f_bill}-->
</head>
<body class="bg_d">
    <div class="main-wrapper">
        <!--{include file="common/menu.html"}-->
        <!--{assign var="bill" value=$attr.bill}-->
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div class="w-box-header">
                        <h3><!--{$configure.f_bill}--> - <!--{$configure.s_edit}--></h3>
                    </div>
                    <!--{if is_array($ERRORS) && count($ERRORS) > 0}-->
                    <div class="alert alert-danger">
                        <ul>
                            <!--{foreach from=$ERRORS item="error"}-->
                            <li>
                                <!--{$error}-->
                            </li>
                            <!--{/foreach}-->
                        </ul>
                    </div>
                    <!--{/if}-->
                    <div class="btn-toolbar">
                        <div class="btn-group">
                        <a href="index.html?exec_search=1" class="btn btn-default">一覧に戻る</a>
                        </div>
                        <div class="btn-group">
                        <a href="edit.html?bill_id=<!--{$bill->bill_id}-->" class="btn btn-default">編集する</a>
                        </div>
                        <div class="btn-group">
                            <a href="pdf/deliver.html?bill_ids=<!--{$bill->bill_id}-->" class="btn btn-default" target="_blank">納品書出力</a>
                            <a href="pdf/bill.html?bill_ids=<!--{$bill->bill_id}-->" class="btn btn-default" target="_blank">請求書出力</a>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th><label>取引名称</label></th>
                                <td><!--{$bill->trade_name|escape}--></td>
                            </tr>
                            <tr>
                                <th><label>作業担当者</label></th>
                                <td><!--{$bill->source()->company()->company_name}--> <!--{$bill->source()->operator_name}--></td>
                            </tr>
                            <tr>
                                <th><label>顧客担当者</label></th>
                                <td><!--{$bill->dest()->company()->company_name}--> <!--{$bill->dest()->operator_name}--></td>
                            </tr>
                            <tr>
                                <th><label>取引種別</label></th>
                                <td><!--{$bill->type()->type_name}--></td>
                            </tr>
                            <tr>
                                <th><label>取引ステータス</label></th>
                                <td><!--{$bill->status()->status_name}--></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                <table id="detail" class="table table-striped table-bordered">
                                <tr><th>名称</th><th>単価</th><th>数量</th><th>消費税区分</th><th>小計</th></tr>
                                <!--{assign var="details" value=$bill->details()}-->
                                <!--{foreach from=$details item="detail"}-->
                                <tr>
                                    <td><!--{$detail->product_name|escape}--></td>
                                    <td><!--{$detail->price|number_format}-->円</td>
                                    <td><!--{$detail->quantity|number_format}--></td>
                                    <td>
                                        <!--{if $detail->tax_type == "1"}-->外税 <!--{$detail->tax_rate}-->%<!--{/if}-->
                                        <!--{if $detail->tax_type == "2"}-->内税 <!--{$detail->tax_rate}-->%<!--{/if}-->
                                        <!--{if $detail->tax_type == "3"}-->非課税<!--{/if}-->
                                    </td>
                                    <td><!--{$detail->price*$detail->quantity|number_format}-->円</td>
                                </tr>
                                <!--{/foreach}-->
                                <tr>
                                    <td colspan="4">小計</td>
                                    <td><!--{$bill->subtotal|number_format}-->円</td>
                                </tr>
                                <tr>
                                    <td colspan="4">消費税</td>
                                    <td><!--{$bill->tax|number_format}-->円</td>
                                </tr>
                                <!--{if $bill->discount > 0}-->
                                <tr>
                                    <td colspan="4"><!--{$bill->discount_title|default:"割引金額"}--></td>
                                    <td><!--{$bill->discount|number_format}-->円</td>
                                </tr>
                                <!--{/if}-->
                                <!--{if $bill->adjust > 0}-->
                                <tr>
                                    <td colspan="4"><!--{$bill->adjust_title|default:"調整金額"}--></td>
                                    <td><!--{$bill->adjust|number_format}-->円</td>
                                </tr>
                                <!--{/if}-->
                                <tr>
                                    <td colspan="4">合計金額</td>
                                    <td><!--{$bill->total|number_format}-->円</td>
                                </tr>
                                <tr>
                                    <td colspan="4">入金済み金額</td>
                                    <td><!--{$bill->payed_total|number_format}-->円</td>
                                </tr>
                                </table>
                                </td>
                            </tr>
                            <tr>
                                <th><label>見積作成日</label></th>
                                <td><!--{$bill->quotation_date|date_format:"%Y年%m月%d日"}--></tr>
                            <tr>
                                <th><label>注文日</label></th>
                                <td><!--{$bill->ordered_date|date_format:"%Y年%m月%d日"}--></td>
                            </tr>
                            <tr>
                                <th><label>納品予定日</label></th>
                                <td><!--{$bill->deliver_date|date_format:"%Y年%m月%d日"}--></td>
                            </tr>
                            <tr>
                                <th><label>納品日</label></th>
                                <td><!--{$bill->delivered_date|date_format:"%Y年%m月%d日"}--></td>
                            </tr>
                            <tr>
                                <th><label>請求日</label></th>
                                <td><!--{$bill->billing_date|date_format:"%Y年%m月%d日"}--></td>
                            </tr>
                            <tr>
                                <th><label>支払い期限日</label></th>
                                <td><!--{$bill->payment_date|date_format:"%Y年%m月%d日"}--></td>
                            </tr>
                            <tr>
                                <th><label>入金確認日</label></th>
                                <td><!--{$bill->complete_date|date_format:"%Y年%m月%d日"}--></td>
                            </tr>
                            <tr>
                                <th><label>次回請求予定日</label></th>
                                <td><!--{$bill->next_billing_date|date_format:"%Y年%m月%d日"}--></td>
                            </tr>
                            <tr>
                                <th><label>特記事項</label></th>
                                <td><!--{$bill->description|nl2br}--></td>
                            </tr>
                            <tr>
                                <th><label>コメント（非表示）</label></th>
                                <td><!--{$bill->comment|nl2br}--></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <hr>
        <!--{include file="common/footer.html"}-->
    </div>
    <!--{include file="common/script.html"}-->
</body>
</html>

