<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="loadmodule" content="Admin.Login" error="login.html" />
<meta name="loadmodule" content="Admin.Operator.List" result="staffs" wkey="ne:role_id" wvalue="3" />
<meta name="loadmodule" content="Admin.Operator.List" result="customers" />
<meta name="loadmodule" content="Trade.Type.List" mode="select" select="type_id|type_name" />
<meta name="loadmodule" content="Trade.Status.List" mode="select" select="status_id|status_name" />
<meta name="loadmodule" content="Trade.Bill.Detail" />
<!--{include file="common/header.html" subtitle=$configure.f_bill}-->
</head>
<body class="bg_d">
    <div class="main-wrapper">
        <!--{include file="common/menu.html"}-->
        <!--{assign var="bill" value=$attr.bill}-->
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div class="w-box-header">
                        <h3><!--{$configure.f_bill}--> - <!--{$configure.s_edit}--></h3>
                    </div>
                    <!--{if is_array($ERRORS) && count($ERRORS) > 0}-->
                    <div class="alert alert-danger">
                        <ul>
                            <!--{foreach from=$ERRORS item="error"}-->
                            <li>
                                <!--{$error}-->
                            </li>
                            <!--{/foreach}-->
                        </ul>
                    </div>
                    <!--{/if}-->
                    <form class="well" action="confirm.html" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="bill_id" value="<!--{$bill->bill_id}-->" />
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th><label>取引名称</label></th>
                                    <td><input type="text" name="bill_name" class="form-control" value="<!--{$bill->bill_name|input:"bill_name"}-->" /></td>
                                </tr>
                                <tr>
                                    <th><label>作業担当者</label></th>
                                    <td>
                                    <!--{if $bill->bill_id > 0}-->
                                    <input type="hidden" name="worker_operator_id" value="<!--{$bill->worker_operator_id}-->" />
                                    <!--{$bill->worker()->company()->company_name}--> <!--{$bill->worker()->operator_name}-->
                                    <!--{else}-->
                                    <select name="worker_operator_id" class="form-control">
                                    <!--{assign var="worker_operator_id" value=$bill->worker_operator_id|input:"worker_operator_id"}-->
                                    <!--{foreach from=$attr.staffs item="staff"}-->
                                    <option value="<!--{$staff->operator_id}-->"<!--{if $staff->operator_id == $worker_operator_id}--> selected<!--{/if}-->>
                                    <!--{$staff->company()->company_name}--> <!--{$staff->operator_name}-->
                                    </option>
                                    <!--{/foreach}-->
                                    </select>
                                    <!--{/if}-->
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>顧客担当者</label></th>
                                    <td>
                                    <!--{if $bill->bill_id > 0}-->
                                    <input type="hidden" name="customer_operator_id" value="<!--{$bill->customer_operator_id}-->" />
                                    <!--{$bill->customer()->company()->company_name}--> <!--{$bill->customer()->operator_name}-->
                                    <!--{else}-->
                                    <select name="customer_operator_id" class="form-control">
                                    <!--{assign var="customer_operator_id" value=$bill->customer_operator_id|input:"customer_operator_id"}-->
                                    <!--{foreach from=$attr.customers item="customer"}-->
                                    <option value="<!--{$customer->operator_id}-->"<!--{if $customer->operator_id == $customer_operator_id}--> selected<!--{/if}-->>
                                    <!--{$customer->company()->company_name}--> <!--{$customer->operator_name}-->
                                    </option>
                                    <!--{/foreach}-->
                                    </select>
                                    <!--{/if}-->
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>案件種別種別</label></th>
                                    <td>
                                    <!--{if $bill->bill_id > 0}-->
                                    <input type="hidden" name="continue_interval" value="<!--{$bill->continue_interval}-->" />
                                    <!--{if $bill->continue_interval == "0"}-->通常（受託）<!--{/if}-->
                                    <!--{if $bill->continue_interval == "1"}-->継続案件（月額決済）<!--{/if}-->
                                    <!--{if $bill->continue_interval == "3"}-->継続案件（四半期決済）<!--{/if}-->
                                    <!--{if $bill->continue_interval == "6"}-->継続案件（半期決済）<!--{/if}-->
                                    <!--{if $bill->continue_interval == "12"}-->継続案件（通期決済）<!--{/if}-->
                                    <!--{else}-->
                                    <select name="continue_interval" class="form-control">
                                    <option value="0"<!--{if $bill->continue_interval == "0"}--> selected<!--{/if}-->>通常（受託）</option>
                                    <option value="1"<!--{if $bill->continue_interval == "1"}--> selected<!--{/if}-->>継続案件（月額決済）</option>
                                    <option value="3"<!--{if $bill->continue_interval == "3"}--> selected<!--{/if}-->>継続案件（四半期決済）</option>
                                    <option value="6"<!--{if $bill->continue_interval == "6"}--> selected<!--{/if}-->>継続案件（半期決済）</option>
                                    <option value="12"<!--{if $bill->continue_interval == "12"}--> selected<!--{/if}-->>継続案件（通期決済）</option>
                                    </select>
                                    <!--{/if}-->
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>取引種別</label></th>
                                    <td>
                                    <!--{if $bill->bill_id > 0}-->
                                    <input type="hidden" name="type_id" value="<!--{$bill->type_id}-->" />
                                    <!--{$bill->type()->type_name}-->
                                    <!--{else}-->
                                    <select name="type_id" class="form-control">
                                    <!--{assign var="type_id" value=$bill->type_id|input:"type_id"}-->
                                    <!--{html_options options=$attr.types selected=$type_id}-->
                                    </select>
                                    <!--{/if}-->
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>取引ステータス</label></th>
                                    <td>
                                    <select name="status_id" class="form-control">
                                    <!--{assign var="status_id" value=$bill->status_id|input:"status_id"}-->
                                    <!--{html_options options=$attr.statuses selected=$status_id}-->
                                    </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                    <table id="detail" class="table table-striped table-bordered">
                                    <tr><th>名称</th><th>単価</th><th>数量</th><th>消費税区分</th></tr>
                                    <!--{if !empty($post.details)}-->
                                    <!--{assign var="details" value=$post.details}-->
                                    <!--{foreach from=$details key="index" item="detail"}-->
                                    <tr>
                                        <input type="hidden" name="details[<!--{$index}-->][bill_detail_id]" value="<!--{$detail.bill_detail_id}-->" />
                                        <input type="hidden" name="details[<!--{$index}-->][related_bill_detail_id]" value="<!--{$detail.related_bill_detail_id}-->" />
                                        <td><input type="text" class="form-control" name="details[<!--{$index}-->][bill_detail_name]" value="<!--{$detail.bill_detail_name}-->" /></td>
                                        <td>
                                        <div class="controls form-inline">
                                        <div class="form-group">
                                        <input type="text" class="form-control" name="details[<!--{$index}-->][price]" value="<!--{$detail.price}-->" />
                                        </div>
                                        <label>円</label>
                                        </div>
                                        </td>
                                        <td><input type="text" class="form-control" name="details[<!--{$index}-->][quantity]" value="<!--{$detail.quantity}-->" /></td>
                                        <td>
                                        <div class="controls form-inline">
                                        <div class="form-group">
                                        <select class="form-control" name="details[<!--{$index}-->][tax_type]">
                                        <option value="1"<!--{if $detail.tax_type == "1"}--> selected<!--{/if}-->>外税</option>
                                        <option value="2"<!--{if $detail.tax_type == "2"}--> selected<!--{/if}-->>内税</option>
                                        <option value="3"<!--{if $detail.tax_type == "3"}--> selected<!--{/if}-->>非課税</option>
                                        </select>
                                        </div>
                                        <div class="form-group">
                                        <input type="text" class="form-control" name="details[<!--{$index}-->][tax_rate]" value="<!--{$detail.tax_rate}-->" />
                                        </div>
                                        <label>%</label>
                                        </div>
                                        </td>
                                    </tr>
                                    <!--{/foreach}-->
                                    <!--{else}-->
                                    <!--{assign var="details" value=$bill->details()}-->
                                    <!--{foreach from=$details item="detail"}-->
                                    <tr>
                                        <input type="hidden" name="details[<!--{$detail->bill_detail_id}-->][bill_detail_id]" value="<!--{$detail->bill_detail_id}-->" />
                                        <input type="hidden" name="details[<!--{$detail->bill_detail_id}-->][related_bill_detail_id]" value="<!--{$detail->related_bill_detail_id}-->" />
                                        <td><input type="text" class="form-control" name="details[<!--{$detail->bill_detail_id}-->][bill_detail_name]" value="<!--{$detail->bill_detail_name}-->" /></td>
                                        <td>
                                        <div class="controls form-inline">
                                        <div class="form-group">
                                        <input type="text" class="form-control" name="details[<!--{$detail->bill_detail_id}-->][price]" value="<!--{$detail->price}-->" />
                                        </div>
                                        <label>円</label>
                                        </div>
                                        </td>
                                        <td><input type="text" class="form-control" name="details[<!--{$detail->bill_detail_id}-->][quantity]" value="<!--{$detail->quantity}-->" /></td>
                                        <td>
                                        <div class="controls form-inline">
                                        <div class="form-group">
                                        <select class="form-control" name="details[<!--{$detail->bill_detail_id}-->][tax_type]">
                                        <option value="1"<!--{if $detail->tax_type == "1"}--> selected<!--{/if}-->>外税</option>
                                        <option value="2"<!--{if $detail->tax_type == "2"}--> selected<!--{/if}-->>内税</option>
                                        <option value="3"<!--{if $detail->tax_type == "3"}--> selected<!--{/if}-->>非課税</option>
                                        </select>
                                        </div>
                                        <div class="form-group">
                                        <input type="text" class="form-control" name="details[<!--{$detail->bill_detail_id}-->][tax_rate]" value="<!--{$detail->tax_rate}-->" />
                                        </div>
                                        <label>%</label>
                                        </div>
                                        </td>
                                    </tr>
                                    <!--{/foreach}-->
                                    <!--{/if}-->
                                    <tr class="blank" style="display: none;">
                                        <td><input type="text" class="form-control" name="details[][bill_detail_name]" value="" /></td>
                                        <td>
                                        <div class="controls form-inline">
                                        <div class="form-group">
                                        <input type="text" class="form-control" name="details[][price]" value="" />
                                        </div>
                                        <label>円</label>
                                        </div>
                                        </td>
                                        <td><input type="text" class="form-control" name="details[][quantity]" value="" /></td>
                                        <td>
                                        <div class="controls form-inline">
                                        <div class="form-group">
                                        <select class="form-control" name="details[][tax_type]">
                                        <option value="1">外税</option>
                                        <option value="2">内税</option>
                                        <option value="3">非課税</option>
                                        </select>
                                        </div>
                                        <div class="form-group">
                                        <input type="text" class="form-control" name="details[][tax_rate]" value="8" />
                                        </div>
                                        <label>%</label>
                                        </div>
                                        </td>
                                    </tr>
                                    </table>
                                    <input id="add_detail" type="button" class="btn btn-default" value="新しい行を追加" />
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>調整金額</label></th>
                                    <td>
                                        <div class="controls form-inline">
                                            <label>調整内容：</label>
                                            <div class="form-group">
                                                <input type="text" name="adjust_title" class="form-control" value="<!--{$bill->adjust_title|input:"adjust_title"}-->" />
                                            </div>
                                        </div>
                                        <div class="controls form-inline">
                                            <label>調整金額：</label>
                                            <div class="form-group">
                                                <input type="text" name="adjust" class="form-control" value="<!--{$bill->adjust|input:"adjust"}-->" />
                                            </div>
                                            <label>円</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>見積作成日</label></th>
                                    <td>
                                        <div class="col-lg-4" style="width: 220px;">
                                        <div class="input-group date" id="quotation_date" data-date="<!--{$bill->quotation_date|input:"quotation_date"|default:$smarty.now}-->" data-date-format="yyyy-mm-dd">
                                            <input class="form-control" size="16" type="text" name="quotation_date" value="<!--{$bill->quotation_date|input:"quotation_date"}-->" readonly>
                                            <span class="input-group-addon"><span class="add-on glyphicon glyphicon-th"></span></span>
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>注文日</label></th>
                                    <td>
                                        <div class="col-lg-4" style="width: 220px;">
                                        <div class="input-group date" id="ordered_date" data-date="<!--{$bill->ordered_date|input:"ordered_date"|default:$smarty.now}-->" data-date-format="yyyy-mm-dd">
                                            <input class="form-control" size="16" type="text" name="ordered_date" value="<!--{$bill->ordered_date|input:"ordered_date"}-->" readonly>
                                            <span class="input-group-addon"><span class="add-on glyphicon glyphicon-th"></span></span>
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>納品予定日</label></th>
                                    <td>
                                        <div class="col-lg-4" style="width: 220px;">
                                        <div class="input-group date" id="deliver_date" data-date="<!--{$bill->deliver_date|input:"deliver_date"|default:$smarty.now}-->" data-date-format="yyyy-mm-dd">
                                            <input class="form-control" size="16" type="text" name="deliver_date" value="<!--{$bill->deliver_date|input:"deliver_date"}-->" readonly>
                                            <span class="input-group-addon"><span class="add-on glyphicon glyphicon-th"></span></span>
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>納品日</label></th>
                                    <td>
                                        <div class="col-lg-4" style="width: 220px;">
                                        <div class="input-group date" id="delivered_date" data-date="<!--{$bill->delivered_date|input:"delivered_date"|default:$smarty.now}-->" data-date-format="yyyy-mm-dd">
                                            <input class="form-control" size="16" type="text" name="delivered_date" value="<!--{$bill->delivered_date|input:"delivered_date"}-->" readonly>
                                            <span class="input-group-addon"><span class="add-on glyphicon glyphicon-th"></span></span>
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>請求日</label></th>
                                    <td>
                                        <div class="col-lg-4" style="width: 220px;">
                                        <div class="input-group date" id="billing_date" data-date="<!--{$bill->billing_date|input:"billing_date"|default:$smarty.now}-->" data-date-format="yyyy-mm-dd">
                                            <input class="form-control" size="16" type="text" name="billing_date" value="<!--{$bill->billing_date|input:"billing_date"}-->" readonly>
                                            <span class="input-group-addon"><span class="add-on glyphicon glyphicon-th"></span></span>
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>入金確認日</label></th>
                                    <td>
                                        <div class="col-lg-4" style="width: 220px;">
                                        <div class="input-group date" id="complete_date" data-date="<!--{$bill->complete_date|input:"complete_date"|default:$smarty.now}-->" data-date-format="yyyy-mm-dd">
                                            <input class="form-control" size="16" type="text" name="complete_date" value="<!--{$bill->complete_date|input:"complete_date"}-->" readonly>
                                            <span class="input-group-addon"><span class="add-on glyphicon glyphicon-th"></span></span>
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>特記事項</label></th>
                                    <td><textarea name="description" class="form-control" rows="10"><!--{$bill->description|input:"description"}--></textarea></td>
                                </tr>
                                <tr>
                                    <th><label>コメント（非表示）</label></th>
                                    <td><textarea name="comment" class="form-control" rows="10"><!--{$bill->comment|input:"comment"}--></textarea></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="4">
                                        <div class="btn-toolbar">
                                            <div class="btn-group">
                                                <input type="submit" name="confirm" id="confirm" value="登録内容を確認" class="btn btn-primary" />
                                                <a href="index.html?exec_search=1" class="btn btn-default">一覧に戻る</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <hr>
        <!--{include file="common/footer.html"}-->
    </div>
    <!--{include file="common/script.html"}-->
    <script type="text/javascript">
    $(function(){
        $("#add_detail").click(function(){
            var line = $('.blank').clone(true);
            var time = new Date().getTime();
            line.find(".form-control").each(function(){
            	$(this).attr("name", $(this).attr("name").replace("details[]", "details[" + time + "]"));
            });
            line.removeClass('blank').css('display', '').appendTo('#detail');
        });

        $("#confirm").click(function(){
        	autoclose: true,
            $('.blank').remove();
        });
        $("#quotation_date").datepicker({
        	autoclose: true,
        	format: "yyyy-mm-dd"
        });
        $("#ordered_date").datepicker({
        	autoclose: true,
        	format: "yyyy-mm-dd"
        });
        $("#deliver_date").datepicker({
        	autoclose: true,
        	format: "yyyy-mm-dd"
        });
        $("#delivered_date").datepicker({
        	autoclose: true,
        	format: "yyyy-mm-dd"
        });
        $("#billing_date").datepicker({
        	autoclose: true,
        	format: "yyyy-mm-dd"
        });
        $("#complete_date").datepicker({
        	autoclose: true,
        	format: "yyyy-mm-dd"
        });
    })
    </script>
</body>
</html>
