<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="loadmodule" content="Admin.Login" error="login.html" />
<meta name="loadmodule" content="Address.Prefectures" mode="select" select="prefecture_id|prefecture_name" />
<meta name="loadmodule" content="Admin.Company.Detail" />
<!--{include file="common/header.html" subtitle=$configure.f_company}-->
</head>
<body class="bg_d">
    <div class="main-wrapper">
        <!--{include file="common/menu.html"}-->
        <!--{assign var="company" value=$attr.company}-->
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div class="w-box-header">
                        <h3><!--{$configure.f_company}--> - <!--{$configure.s_edit}--></h3>
                    </div>
                    <!--{if is_array($ERRORS) && count($ERRORS) > 0}-->
                    <div class="alert alert-danger">
                        <ul>
                            <!--{foreach from=$ERRORS item="error"}-->
                            <li>
                                <!--{$error}-->
                            </li>
                            <!--{/foreach}-->
                        </ul>
                    </div>
                    <!--{/if}-->
                    <form class="well" action="confirm.html" method="POST" enctype="multipart/form-data" role="form">
                        <input type="hidden" name="company_id" value="<!--{$company->company_id}-->" />
                        <input type="hidden" name="self_flg" value="1" />
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th><label>自社名</label></th>
                                    <td><input type="text" name="company_name" class="form-control" value="<!--{$company->company_name|input:"company_name"}-->" /></td>
                                </tr>
                                <tr>
                                    <th><label>住所</label></th>
                                    <td>
                                        <div class="controls form-inline">
                                            <label>〒</label>
                                            <div class="form-group"><input type="text" name="zip1" id="zip1" class="form-control" value="<!--{$company->zip1|input:"zip1"}-->" maxlength="3" /></div>
                                            <label>-</label>
                                            <div class="form-group"><input type="text" name="zip2" id="zip2" class="form-control" value="<!--{$company->zip2|input:"zip2"}-->" maxlength="4" /></div>
                                            <div class="form-group"><input type="submit" name="search_zip" id="search_zip" class="btn btn-default" value="住所検索" /></div>
                                        </div>
                                        <div><select name="prefecture_id" class="form-control">
                                        <!--{html_options options=$attr.prefectures selected=$company->prefecture_id|input:"prefecture_id"}-->
                                        </select></div>
                                        <div><input type="text" name="address1" class="form-control" value="<!--{$company->address1|input:"address1"}-->" /></div>
                                        <div><input type="text" name="address2" class="form-control" value="<!--{$company->address2|input:"address2"}-->" /></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>電話番号</label></th>
                                    <td>
                                        <div class="controls form-inline">
                                            <div class="form-group"><input type="text" name="tel1" id="tel1" class="form-control" value="<!--{$company->tel1|input:"tel1"}-->" maxlength="6" /></div>
                                            <label>-</label>
                                            <div class="form-group"><input type="text" name="tel2" id="tel1" class="form-control" value="<!--{$company->tel2|input:"tel2"}-->" maxlength="6" /></div>
                                            <label>-</label>
                                            <div class="form-group"><input type="text" name="tel3" id="tel1" class="form-control" value="<!--{$company->tel3|input:"tel3"}-->" maxlength="6" /></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>ロゴ画像</label></th>
                                    <td>
                                    <!--{assign var="logo_url" value=$company->logo|input:"logo"}-->
                                    <!--{if $logo_url != ""}-->
                                    <input type="hidden" name="logo" value="<!--{$logo_url}-->" />
                                    <img src="<!--{$logo_url}-->" />
                                    <!--{/if}-->
                                    <input type="file" name="logo" class="form-control" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>印鑑画像</label></th>
                                    <td>
                                    <!--{assign var="stamp_url" value=$company->stamp|input:"stamp"}-->
                                    <!--{if $stamp_url != ""}-->
                                    <input type="hidden" name="stamp" value="<!--{$stamp_url}-->" />
                                    <img src="<!--{$stamp_url}-->" />
                                    <!--{/if}-->
                                    <input type="file" name="stamp" class="form-control" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>締め日</label></th>
                                    <td>
                                        <div class="controls form-inline">
                                            <div class="form-group"><input type="text" name="limit_day" class="form-control" value="<!--{$company->limit_day|input:"limit_day"}-->" /></div>
                                            日（末日：99）
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>支払日</label></th>
                                    <td>
                                        <div class="controls form-inline">
                                            <div class="form-group"><select name="payment_month" class="form-control">
                                            <!--{assign var="payment_month" value=$company->payment_month|input:"payment_month"}-->
                                            <option value="0"<!--{if $payment_month == "0"}--> selected<!--{/if}-->>当月</option>
                                            <option value="1"<!--{if $payment_month == "1"}--> selected<!--{/if}-->>翌月</option>
                                            <option value="2"<!--{if $payment_month == "2"}--> selected<!--{/if}-->>翌々月</option>
                                            </select></div>
                                            <div class="form-group"><input type="text" name="payment_day" class="form-control" value="<!--{$company->payment_day|input:"payment_day"}-->" /></div>
                                            日（末日：99）
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>振込口座銀行名</label></th>
                                    <td><input type="text" name="bank_name" class="form-control" value="<!--{$company->bank_name|input:"bank_name"}-->" /></td>
                                </tr>
                                <tr>
                                    <th><label>振込口座支店名</label></th>
                                    <td><input type="text" name="branch_name" class="form-control" value="<!--{$company->branch_name|input:"branch_name"}-->" /></td>
                                </tr>
                                <tr>
                                    <th><label>振込口座種別</label></th>
                                    <!--{assign var="account_type" value=$company->account_type|input:"account_type"}-->
                                    <td>
                                        <label class="radio-inline">
                                            <input type="radio" id="account_type_normal" name="account_type" value="普通"<!--{if $account_type != "当座"}--> checked<!--{/if}--> />
                                            普通
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" id="account_type_temporary" name="account_type" value="当座"<!--{if $account_type == "当座"}--> checked<!--{/if}--> />
                                            当座
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>振込口座番号</label></th>
                                    <td><input type="text" name="account_number" class="form-control" value="<!--{$company->account_number|input:"account_number"}-->" /></td>
                                </tr>
                                <tr>
                                    <th><label>振込口座名義</label></th>
                                    <td><input type="text" name="account_name" class="form-control" value="<!--{$company->account_name|input:"account_name"}-->" /></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="4">
                                        <div class="btn-toolbar">
                                            <div class="btn-group">
                                                <input type="submit" name="confirm" id="confirm" value="登録内容を確認" class="btn btn-primary" />
                                                <a href="index.html?exec_search=1" class="btn btn-default">一覧に戻る</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <hr>
        <!--{include file="common/footer.html"}-->
    </div>
    <!--{include file="common/script.html"}-->
</body>
</html>
