<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="loadmodule" content="Input.Reset" />
<meta name="loadmodule" content="Admin.Logout" />
<meta name="loadmodule" content="Admin.InitLogin" />
<!--{include file="common/header.html" subtitle=$configure.f_login}-->
</head>
<body>
    <!--{include file="common/menu.html"}-->
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2><!--{$configure.f_login}--></h2>
                <!--{include file="common/errors.html"}-->
                <form action="<!--{$attr.loginUrl}-->" method="POST" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="login_id" class="control-label">メールアドレス</label>
                        <input type="text" id="login_id" name="login_id" value="" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">パスワード</label>
                        <input type="password" id="password" name="password" value="" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" id="login" name="login" class="btn btn-default" >ログイン</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer_space"></div>
    <!--{include file="common/footer.html"}-->
</body>
<!--{include file="common/script.html"}-->
</html>