<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="loadmodule" content="Admin.Login" error="login.html" />
<meta name="loadmodule" content="Admin.TradeSplit.Delete" />
<meta name="loadmodule" content="Admin.TradeSplit.Page" />
<meta name="loadmodule" content="Input.Reset" />
<!--{include file="common/header.html" subtitle=$configure.f_split}-->

</head>
<body class="bg_d">
<div class="main-wrapper">

<!--{include file="common/menu.html"}-->

<div class="container">
    <div class="row-fluid">
        <div class="span12"> 
            <div class="w-box w-box-blue hideable">
                <div class="w-box-header">
                    <h3><!--{$configure.f_split}--> - <!--{$configure.s_index}--></h3>
                </div>
            </div>
            <div id="pagelink"><!--{$attr.tradeSplits_pager->getPageLink()}--><p class="total">全<!--{$attr.tradeSplits_pager->getDataSize()|number_format}-->件</p></div>
            
            <div><a href="new.html" class="btn btn-default">新規登録</a></div>
        <div class="w-box w-box-green">
            <div class="w-box-content cnt_a">
            <table class="table table-bordered table-striped" summary="一覧">
            <tr>
            <th class="blue header">作業担当者</th>
            <th class="blue header">窓口担当者</th>
            <th class="blue header">顧客担当者</th>
            <th class="blue header">取引種別</th>
            <th class="blue header">窓口分配率（％）</th>
            <th class="blue header">&nbsp;</th>
            </tr>
            <!--{foreach from=$attr.tradeSplits item="tradeSplit"}-->
            <tr>
                <td><!--{$tradeSplit->worker()->company()->company_name}--><br /><!--{$tradeSplit->worker()->operator_name}--></td>
                <td><!--{$tradeSplit->contact()->company()->company_name}--><br /><!--{$tradeSplit->contact()->operator_name}--></td>
                <td><!--{$tradeSplit->customer()->company()->company_name}--><br /><!--{$tradeSplit->customer()->operator_name}--></td>
                <td><!--{$tradeSplit->tradeType()->trade_type_name}--></td>
                <td><!--{$tradeSplit->contact_mergin_rate}-->%</td>
                <td>
                <a href="edit.html?trade_split_id=<!--{$tradeSplit->trade_split_id}-->" class="btn btn-default">編集</a>
                <a href="index.html?delete=1&trade_split_id=<!--{$tradeSplit->trade_split_id}-->" class="btn btn-danger" onclick="return confirm('<!--{$tradeSplit->worker()->operator_name}--> → <!--{$tradeSplit->customer()->operator_name}-->を削除します。よろしいですか？')">削除</a>
                </td>
            </tr>
            <!--{/foreach}-->
            </table>
            </div>
        </div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
    
</div>

<hr>
<!--{include file="common/footer.html"}-->
</div>
<!--{include file="common/script.html"}-->
</body>
</html>
