<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="loadmodule" content="Admin.Login" error="login.html" />
<meta name="loadmodule" content="Trade.Agent.Delete" />
<meta name="loadmodule" content="Trade.Agent.List" wkey="bill_flg" wvalue="0" />
<meta name="loadmodule" content="Input.Reset" />
<!--{include file="common/header.html" subtitle=$configure.f_seo}-->

</head>
<body class="bg_d">
<div class="main-wrapper">

<!--{include file="common/menu.html"}-->

<div class="container">
    <div class="row-fluid">
        <div class="span12"> 
            <div class="w-box w-box-blue hideable">
                <div class="w-box-header">
                    <h3><!--{$configure.f_seo}--> - <!--{$configure.s_index}--></h3>
                </div>
                <!--{if is_array($ERRORS) && count($ERRORS) > 0}-->
                <div class="alert alert-danger">
                    <ul>
                        <!--{foreach from=$ERRORS item="error"}-->
                        <li>
                            <!--{$error}-->
                        </li>
                        <!--{/foreach}-->
                    </ul>
                </div>
                <!--{/if}-->
                <div class="w-box-content cnt_a">
                    <form class="well" action="upload.html" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="company_id" value="<!--{$company->company_id}-->" />
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th><label>アップロードファイル</label></th>
                                    <td>
                                    <input type="file" name="agent" class="form-control" />
                                    </td>
                                    <td>
                                        <div class="btn-toolbar">
                                            <div class="btn-group">
                                                <input type="submit" name="exec_search" id="" value="アップロード" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        </table>
                    </form>
                    <div class="brn-group">
                        <a href="client.html" class="btn btn-default">担当者対応データ作成</a>
                        <a href="bill.html" class="btn btn-default">以下のデータの請求データを作成</a>
                    </div>
                    <div class="w-box w-box-green">
                        <div class="w-box-content cnt_a">
                        <table class="table table-bordered table-striped" summary="一覧">
                        <tr>
                        <th class="blue header">年月</th>
                        <th class="blue header">種別</th>
                        <th class="blue header">クライアント名<br>案件名</th>
                        <th class="blue header">コスト</th>
                        <th class="blue header">作業担当利益</th>
                        <th class="blue header">窓口担当利益</th>
                        <th class="blue header">請求金額</th>
                        <th class="blue header"></th>
                        </tr>
                        <!--{foreach from=$attr.agents item="agent"}-->
                        <tr>
                            <td><!--{$agent->agent_month|substr:0:4}-->年<!--{$agent->agent_month|substr:4}-->月</td>
                            <td><!--{$agent->agent_type}--></td>
                            <td><!--{$agent->client_name}--><br><!--{$agent->agent_name}--></td>
                            <td>
                            <!--{if $agent->cost1_name != ""}--><!--{$agent->cost1_name}-->：<!--{$agent->cost1_price|number_format}-->円<br /><!--{/if}-->
                            <!--{if $agent->cost2_name != ""}--><!--{$agent->cost2_name}-->：<!--{$agent->cost2_price|number_format}-->円<br /><!--{/if}-->
                            <!--{if $agent->cost3_name != ""}--><!--{$agent->cost3_name}-->：<!--{$agent->cost3_price|number_format}-->円<br /><!--{/if}-->
                            <!--{if $agent->cost4_name != ""}--><!--{$agent->cost4_name}-->：<!--{$agent->cost4_price|number_format}-->円<br /><!--{/if}-->
                            </td>
                            <td>（<!--{$agent->worker_name}-->）<br><!--{$agent->worker_profit|number_format}-->円</td>
                            <td>（<!--{$agent->contact_name}-->）<br><!--{$agent->contact_profit|number_format}-->円</td>
                            <td><!--{$agent->total|number_format}-->円</td>
                            <td>
                                <a href="index.html?delete=1&agent_id=<!--{$agent->agent_id}-->" class="btn btn-danger" onclick="return confirm('<!--{$agent->client_name}--><!--{$agent->agent_name}-->を削除します。よろしいですか？')">削除</a>
                            </td>
                        </tr>
                        <!--{/foreach}-->
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
    
</div>

<hr>
<!--{include file="common/footer.html"}-->
</div>
<!--{include file="common/script.html"}-->
</body>
</html>
