<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="loadmodule" content="Admin.Login" error="admin/login.html" />
<meta name="loadmodule" content="Error.Check.Require" key="payment_date" value="入金日" />
<meta name="loadmodule" content="Error.Check.Require" key="payment_name" value="振込人名義" />
<meta name="loadmodule" content="Error.Check.Require" key="payment_total" value="入金金額" />
<meta name="loadmodule" content="Error.Check.Number" key="payment_total" value="入金金額" />
<meta name="loadmodule" content="Error.Exception" error="payment/edit.html" />
<!--{include file="common/header.html" subtitle=$configure.f_payment}-->
</head>
<body class="bg_d">
    <div class="main-wrapper">
        <!--{include file="common/menu.html"}-->
        <!--{assign var="payment" value=$post}-->
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div class="w-box-header">
                        <h3><!--{$configure.f_payment}--> - <!--{$configure.s_confirm}--></h3>
                    </div>
                    <form class="well" action="complete.html" method="POST">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th><label>入金日</label></th>
                                    <td>
                                        <!--{$payment.payment_date|date_format:"%Y年%m月%d日"}-->
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>振込銀行名</label></th>
                                    <td>
                                        <!--{$payment.bank_name}-->
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>振込支店名</label></th>
                                    <td>
                                        <!--{$payment.branch_name}-->
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>振込コード</label></th>
                                    <td>
                                        <!--{$payment.payment_code}-->
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>振込人名義</label></th>
                                    <td>
                                        <!--{$payment.payment_name}-->
                                    </td>
                                </tr>
                                <tr>
                                    <th><label>振込金額</label></th>
                                    <td>
                                        <!--{$payment.payment_total|number_format}-->円
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="4">
                                        <div class="btn-toolbar">
                                            <div class="btn-group">
                                                <input type="submit" name="save" id="save" value="登録内容を確認" class="btn btn-primary" />
                                                <a href="edit.html" class="btn btn-default">編集画面に戻る</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <hr>
        <!--{include file="common/footer.html"}-->
    </div>
    <!--{include file="common/script.html"}-->
</body>
</html>
